div {
   width: 800px;
   height: 500px;
    background-image: linear-gradient(
    to bottom,
skyblue 0%,
skyblue 30%,
red 30%,
red 33%,
white 33%,
white 63%,
red 63%,
red 66%,
green 66%,
green
   );
   box-shadow: 5px 5px 10px 5px silver
}